<!DOCTYPE html>
<html lang="en">
<head>
  <style>
     #logo {
      float:left;
      height:70px;
      width:250px;
    }
     #parent {
      margin:auto;
      width:1000px;
      height:1000px;
    }
  </style>
  <title>GM Movie</title>
</head>

<body>
<div id='parent'>
  <a href="/"><img id='logo' src="{{ url_for('static', filename='img/logo.png') }}" alt="dd"></a>
  <img style="width:1000px;" src="{{ url_for('static', filename='img/home.jpg') }}" alt="dd">
  <h1 style="margin-left:30px;">Movie List</h1>
  <table border="1">
    <th>Movie ID</th><th>Movie Type</th><th>Movie Name</th><th>Number of Copies</th><th>Rating</th>
    {% for m in result %}
      <tr><td>{{m['MovieId']}}</td><td>{{m['MovieType']}}</td>
        <td>{{m['MovieName']}}</td><td>{{m['NumCopies']}}</td><td>{{m['Rating']}}</td></tr>
    {% endfor %}
  </table>
</div>
</body>
</html>